html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.hero {
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

nav {
  margin: 1rem 0;
}

nav span {
  padding-right: 2rem;
}

.menu {
  display: none;
}

.banner {
  background-color: white;
  display: inline-block;
}

 h1 {
  padding: 1.5rem 5rem;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
}

.main {

  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10rem;
  left: 2rem;

}

.services {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  /*border: 1px solid yellow;*/
  margin-bottom: 3rem;

}

.service {
  height: 8rem;
  margin: 0;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid red;*/
}

.service p {
  text-align: center;
}

.img1 {
  width: 3.5rem;
}

.img2, .img3 {
  width: 5rem;
}

.info {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  /*border: 1px solid red;*/
}

.information {
  width: 35%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  /*border: 1px solid yellow;*/
}

.information span {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

footer {
  height: 9.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}



@media only screen and (max-width: 1024px) {

.container {
  width: 100%;
}

.header {
  top: auto;
}

.hero {
  height: 22rem;
  padding-top: 0;
}

.main {
  top: 5rem;
  left: -2rem;
}

h1 {
  padding: 0.75rem 4rem;
  font-size: 1.33rem;
}

.service {
  padding-right: 2rem;
}

.services {
  justify-content: space-around;
}

.info {
  justify-content: center;
}


}



@media only screen and (max-width: 560px) {

.container {
  width: 100%;
}

.header {
  top: auto;
}

.hero {
  height: 17rem;
  background-position: 20%;
}

.logo span {
  display: none;
}
.main {
  margin-top: 9rem;
  margin-bottom: 0;
  left: auto;
  top: 0;
}

.banner {
  width: 100%;
  margin-top: 1rem;
}

h1 {
  margin: 0;
  padding: 1rem 0rem;
  font-size: 1rem;
  text-align: center;
}

nav {
  display: none;
}

.menu {
  display: inline-flex;
  margin: 1rem 2rem;
}

.services {
  flex-direction: column;
  margin-top: 3.77rem;
  margin-bottom: 2.23rem;
  font-size: 0.77rem;
}

.service {
  margin-bottom: 1.54rem;
  justify-content: space-between;
}


.info {
  flex-direction: column;
  align-items: center;
}

.information {
  width: 100%;
  text-align: left;
}

.information span {
  width: 100%;
  text-align: center;
}

.information p {
  font-size: 0.77rem;
  margin-bottom: 4rem;
  padding-left: 1rem;

}

footer {
  justify-content: center;
}

footer p {
  display: none;
}

footer img {
  margin: 0;
}



}
