html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.hero {
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

nav {
  margin: 1rem 0;
}

nav span {
  padding-right: 2rem;
}

.menu {
  display: none;
}

.banner {
  background-color: white;
  display: inline-block;
}

 h1 {
  padding: 1.5rem 5rem;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
}

.main {

  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10rem;
  left: 2rem;

}


@media only screen and (max-width: 1024px) {

.container {
  width: 100%;
}

.header {
  top: auto;
}

.hero {
  height: 22rem;
  padding-top: 0;
}

.main {
  top: 5rem;
  left: -2rem;
}

h1 {
  padding: 0.75rem 4rem;
  font-size: 1.33rem;
}


}



@media only screen and (max-width: 560px) {

.container {
  width: 100%;
}

.header {
  top: auto;
}

.hero {
  height: 17rem;
  background-position: 20%;
}

.logo span {
  display: none;
}
.main {
  margin-top: 9rem;
  margin-bottom: 0;
  left: auto;
  top: 0;
}

.banner {
  width: 100%;
  margin-top: 1rem;
}

h1 {
  margin: 0;
  padding: 1rem 0rem;
  font-size: 1rem;
  text-align: center;
}

nav {
  display: none;
}

.menu {
  display: inline-flex;
  margin: 1rem 2rem;
}




}
